body{
	margin: 0px;
	padding: 0px;
}
nav ul li{
	display: inline;
	padding: 10px;
	font-size: 20px;

}
nav{
	
	width: 80%;
}
nav ul{
	float: right;

}
li:hover{
	background-color:blue ;
	border-radius:5px ;
}
.header{
	display: flex;
	flex-direction: row;
	background-color:#2bd45f;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

	

.logo img{
	width:250px ;
	height:50px ;
	margin-top: 10px;

}
.banner h1{
	font-size:55px ;
	text-align:center ;
	color: #fff;
}
.banner h3{
	text-align:center;
	color: #fff;
	font-size: 30px;
}
.banner{
	height: 500px;
	background-color:#2bd45f ;
	margin-top: -40px;
	width: 100%;
}

.category_list{
	
	display: flex;
	flex-direction: row;
	
}
.categories{
	width: 70%;
	margin: auto;
	margin-top: -100px;
	background-color: #fff;
}
.categories h5{
	text-align:center ;
	font-size:30px ;

}
.Gloceries{
	font-size:15px ;
	
}
.Gloceries h5{
	color: orange;
	font-size:18px ;
	}
.Gloceries ul{
 

}
.construction h5{
	font-size:18px ;
	color:#00966c ;
}
.construction ul{
	font-size:15px ;
	

}
.edu h5{
	font-size:18px ;
	color:#1ed82c ;
}
.edu ul{
	font-size:15px ;

}
.health h5{
	font-size:18px ;
	
	color:#e00c0c ;
}
.health ul{
	font-size:15px ;
	
}
.digi h3{
	text-align:center ;
	font-size:25px ;
	font-weight:bold ;
}

.reach_visit{
	width:80% ;
	margin:auto;
	display: flex;
	flex-direction: row;
	
	
}

.reach{
	color:white ;
	background-color:#ff8d00 ;
	
}

.reach h5,.reach h2{
	color: white;
    
}
.reach, .visit{
	width: 600px;
	height: 300px;
	margin: 20px;
	padding: 10px;
}
.visit{
	color:white ;
	background-color:#00966c ;
}
.visit h5{
	

}
.visit h2{
	
}
.discover{
	color:white ;
	background-color:#e00c0c ;
	width:400px ;
	height:250px ;
}
.discover h5{
	

}
.discover h2{
	}
.digitise{
	color:white ;
	background-color:#1ed82c ;
	width:400px ;
	height:250px ;
	}
.digitise_discover{
	width:80% ;
	margin:auto;
	display: flex;
	flex-direction: row;
}
.digitise,.discover{
	width: 600px;
	height: 300px;
	margin: 20px;
	padding:10px ;
}
.digitise h5{
	
    color: white;   
}

.dbd{
	color:white ;
	background-color:#ff8d00 ;
	width: 100% ;
	height:500px ;
	text-align:center ;
}
.dbd p{
	font-size:24px ;
	
}
.dbd h2{
	font-size:50px ;
	
}

.dbd h6{
	
	font-size:21px ;
	

  }
.dbd h3{
	font-size:20px ;
	
}
.trusted{
	text-align: center; 
	color:white ;
	background-color:#2cf72c ;
	font-size:50px ;
	width: px ;
	height:1000px ;
}
.trusted img{
	
	width:25%; 
	height:30px;
	display: flex;
	flex-direction: row;
	margin-left:400px ;
}

.sponsors{
	text-align:center ;
	background-color:#009627b5 ;
	color:white ;
	width: ;
	height:500px ;
	}
.sponsors h2{
	font-size:56px ;
}	
.codevision{
	margin-top:-30px ;
	margin-left:340px ;
}
.sponsors img{
	width:25%; 
	height:30px;
	display: flex;
	flex-direction: row;
	margin-left:400px ;
}
.codevision2{
	margin-top:-30px ;
	margin-left:340px ;
}
.sponsors p{
	font-size:30px ;
}
.sponsors button{
	width: 45;
	height:33px ;
}
.pizza img{
	height: ;
	width:70% ;
	margin:205px ;
}
.digigaru img{
	margin:0px ;
	width: 390px;
	height:230px ;
}
.footer{
	background-color:#2bd45f ;

}
